.about-text {
  /* width: 40%; */

  font-size: 18px;

  text-align: center;

  margin: 0 28%;

  color: #35bcbf;
}

@media screen and (orientation: portrait) {
  .about-text {
    margin: 0 14% 20%;
  }
}
