* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/**************************************/
/* ANIMATIONS */
/**************************************/

@media (orientation: landscape) {
  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
  }
}
