* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page-heading {
  color: #41506b;

  font-weight: bolder;
  font-size: 28px;

  text-align: center;

  margin: 8% 0 2%;
}

/**************************************/
/* ANIMATIONS */
/**************************************/

@media (orientation: landscape) {
  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
  }
}
