* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
}

.app-container {
  position: relative;
}

/**************************************/
/* CLOCK-CONTAINER */
/**************************************/
.clock {
  position: absolute;
  width: 400px;
  height: 400px;

  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**************************************/
/* BACKGROUND-CIRCLE FOR CLOCK */
/**************************************/
.clock-circle {
}

.outer-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #90f6d7;

  z-index: -100;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 92%;
  height: 92%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  z-index: -50;
}

.timer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/**************************************/
/* WORKSTATEBUTTONS */
/**************************************/
input[type="radio"] {
  display: none;
}

.workstate-btn {
  font-size: 18px;

  background-color: #fff;
  color: #35bcbf;
  outline: none;
  border: none;
  border-radius: 8px;
  display: block;
  width: 100px;

  margin: 1px auto;
  padding: 1px 0;
}

input:checked + .workstate-btn {
  background-color: #263849;
}

.timer {
}

/**************************************/
/* DISPLAY */
/**************************************/
.time-display {
  font-size: 72px;
  font-weight: bold;
  color: #41506b;

  margin: 50px auto;
}

/**************************************/
/* CONTROL-BUTTONS */
/**************************************/
.control-btn {
  background-color: #fff;
  color: #41506b;
  outline: none;
  border: none;

  margin: 2px;
  border-radius: 8px;
}

.control-btn:active {
  background-color: #90f6d7;
}

/**************************************/
/* ANIMATIONS */
/**************************************/
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/**************************************/
/* NAVBAR */
/**************************************/
.topnav {
  background-color: #263849;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #35bcbf;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  /* background-color: #fff; */
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/**************************************/
/*NAVBAR-RESPONSIVENESS*/
/**************************************/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (orientation: portrait) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (orientation: portrait) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/**************************************/
/*TASKLIST*/
/**************************************/

.tasklist {
  position: absolute;

  top: 220px;
  right: 100px;
}

.tasklist-heading {
  color: #41506b;
  font-weight: bolder;
  font-size: 28px;
  text-align: center;

  margin: 0 0 15px 0;
}

.list {
  height: 238px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.taskfield {
  position: relative;
  background-color: #90f6d7;
  border: none;
  outline: none;

  width: 315px;
  height: 60px;
  border-radius: 19px;

  margin: 8px 0;
}

.taskfield label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: #41506b;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;

  left: 70px;
}

.taskfield input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  left: 15px;

  width: 25px;
  height: 25px;

  border-radius: 8px;
  border: 2px solid #41506b;
  background-color: #fff;
}

.taskfield input:checked {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #35bcbf;
}

.add-text {
  text-align: center;
  color: #41506b;
  background-color: #fff;
  background: linear-gradient(#41506b, #41506b) center bottom 15px /
    calc(100% - 50px) 2px no-repeat;
  border: 2px solid #41506b;
  /* border: none; */
  outline: none;

  font-size: 16px;
  font-weight: bolder;
  box-sizing: border-box;

  width: 315px;
  height: 60px;
  border-radius: 19px;
  margin: 8px 0;
}

.add-text::placeholder {
  opacity: 75%;
}

.add-btn {
  color: #90f6d7;
  background-color: #41506b;
  border: none;
  outline: none;

  width: 315px;
  height: 60px;
  border-radius: 19px;

  font-size: 18px;
  font-weight: bolder;
}
